.send-email--btn {
    font-family: inherit;
    font-size: 20px;
    background: royalblue;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
    cursor: pointer;
}

.send-email--btn span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
}

.send-email--btn svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
}

.send-email--btn:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
}

.send-email--btn:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.send-email--btn:hover span {
    transform: translateX(5em);
}

.send-email--btn:active {
    transform: scale(0.95);
}

@keyframes fly-1 {
    from {
        transform: translateY(0.1em);
    }

    to {
        transform: translateY(-0.1em);
    }
}

/* ------------ hire me btn ----------*/

.hire-me-btn {
    all: unset;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0.6em 2em;
    border: #fff solid 0.15em;
    border-radius: 0.25em;
    color: #85f69f;
    font-size: 1.5em;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: border 300ms, color 300ms;
    user-select: none;
}

.hire-me-btn p {
    z-index: 1;
}

.hire-me-btn:hover {
    color: #ffff;
}

.hire-me-btn:active {
    border-color: teal;
}

.hire-me-btn::after,
.hire-me-btn::before {
    content: "";
    position: absolute;
    width: 9em;
    aspect-ratio: 1;
    background: #85f69f;
    opacity: 50%;
    border-radius: 50%;
    transition: transform 500ms, background 300ms;
}

.hire-me-btn::before {
    left: 0;
    transform: translateX(-8em);
}

.hire-me-btn::after {
    right: 0;
    transform: translateX(8em);
}

.hire-me-btn:hover:before {
    transform: translateX(-1em);
}

.hire-me-btn:hover:after {
    transform: translateX(1em);
}

.hire-me-btn:active:before,
.hire-me-btn:active:after {
    background: teal;
}
